.banner{
    background-image: url('../../assets/banner.jpg');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.menu-item{
    transition: color 0.3s ease-in-out;
}
.menu-item:hover{
	color: #FCA5A5;
}

.discount{
    background-image: url('../../assets/Discount.jpg');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
}

/* Review */
.review-1{
    background-image: url('../../assets/Reviewbg-1.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.review-2{
    background-image: url('../../assets/Reviewbg-2.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}