.banner{
    background-image: url('../../assets/banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
}

.discount{
    background-image: url('../../assets/Discount.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
}